@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f2a12;
  --foreground: #f8fafc;

  --christmas-red: #dc2626;
  --christmas-green: #16a34a;
  --christmas-gold: #fbbf24;
  --christmas-dark: #0f2a12;
  --christmas-light: #f8fafc;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f2a12;
    --foreground: #f8fafc;

    --christmas-red: #dc2626;
    --christmas-green: #16a34a;
    --christmas-gold: #fbbf24;
    --christmas-dark: #0f2a12;
    --christmas-light: #f8fafc;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}