@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f172a;
  /* Dark Blue/Slate background */
  --foreground: #f8fafc;
  /* Light text */

  --christmas-red: #dc2626;
  /* Red 600 */
  --christmas-green: #16a34a;
  /* Green 600 */
  --christmas-gold: #fbbf24;
  /* Amber 400 */
  --christmas-dark: #0f172a;
  /* Slate 900 */
  --christmas-light: #f8fafc;
  /* Slate 50 */
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f2a13;
    --foreground: #f8fafc;

    --christmas-red: #dc2626;
    --christmas-green: #16a34a;
    --christmas-gold: #fbbf24;
    --christmas-dark: #0f2a12;
    --christmas-light: #f8fafc;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}